*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con1
{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}
.con1-1
{
    height: auto;
    width: auto;
    max-width: 1080px;
    margin: auto;
}
h2
{
    text-align: center;
    padding: 2%;
}
label
{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
input[type="text"]
{
    height: 20px;
    width: 30%;
    padding: 18px;
    outline: none;
    margin-bottom: 10px;
    border: solid black 1px;
    font-size: 14px;
}
.Btn
{
    cursor: pointer;
    border: none;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 10px;
}
.con1-2
{
    max-width: 1080px;
    margin: auto;
    height: auto;
    width: auto;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
th
{
  text-align: left;
  background-color: rgb(201, 226, 157);
  padding: 8px;
}
td
{
    padding: 8px;
}